/* 주석 단축키 - 컨트롤 + / */
/* font 타이포그래피 */
/* 해당 명령어는 모두 상속됩니다. */

/* 
    color 색상 표시 방법 4가지
    1. color name = 유명한 색의 고유이름을 표현 (color: red;)
    2. hex number = rgb 값을 순서대로 10진법으로 표현 (color: #fffff;)
    3. rgb = rgb값을 순서대로 10진수 숫자로 표현 (color: red;)
    4. rgba = rgb값을 순서대로 10진수 숫자로만 표현
    rgba(251, 124, 125, 0.6) / 맨 뒤에 투명 값 숫자는 1-100%
    - background-color 배경 색상
*/

div {
    /* 텍스트의 색상을 변경해주는 명령어 */
    /* color: red; */
    color: rgba(255,0,0,0.5);
}

/* text-aline */
/* 해당 선택자가 얼마만큼의 영역을 가지고 있는지 체크(inline과 block요소도 체크) */
span {
    text-align: center;
}

div {
    text-align: center;
}

/* font-weight */
/* default = normal (regular) */
/* bold - 700 / regular - 400 / light - 300 */
/* 영문이나 숫자로 표시 */
/* 백단위로 표시 */
span {
    font-weight: 300;
}

div {
    font-weight: bold;
}

/* line-height */
/* 행간 표시이며 글자는 바닥에 붙어있습니다. */
/* 단위를 사용하거나 숫자만 사용하며 숫자 사용시 배수로 인식합니다. (배수의 기준은 font-size) */
span {
    line-height: 20px;
}

div {
    font-size: 20px;
    line-height: 2;
}

/* font */
/* font-weight font-size/line-hight font-family */
span {
    font: bold 30px/1.5 arial, sans-serlf;
}

/* font-size */
/* px, %, em, rem, vw, vh */

span {
    font-size: 5vh;
}

div {
    font-size: 5vw;
}