@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* { margin: 0; padding: 0; border: 0; box-sizing: border-box; }
ol,ul { list-style: none; }
a { text-decoration: none; color: inherit; }
body { line-height: 1; font-family: 'Montserrat', sans-serif; }
h1,h2,h3,h4,h5,h6 { font-weight: 400; text-transform: uppercase; color: #3f51b5; }
input, textarea,button,select,option { font-family: 'Montserrat', sans-serif; }
/* common End */

#header {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 10px gray;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

#header .inner {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo {
    font-size: 26px;
}

#header .gnb ul {
    display: flex;
    text-transform: uppercase;
    color: #3f51b5;
}

#header .gnb ul > li {
    margin-left: 50px;
}

#header .gnb ul > li:first-child {
    margin-left: 0;
}

#visual {
    text-align: center;
    padding-top: 86px;
    margin-bottom: 100px;
}

#visual img {
    width: 100%;
}

#academy .inner {
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    margin: 0 auto;
}

#academy .academy_tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

#academy .academy_tit h2 {
    font-size: 42px;
}

#cacdemy .academy_tit p {
    line-height: 2;
    padding-left: 20px;
    position: relative;
}

#academy .academy_tit p::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 40px;
    background: gray;
}