*{margin:0;padding:0;box-sizing:border-box}
ol,ul,dl{list-style:none;}

.com_box {}

.con_box h3 {
    font-size: 28px;
    color: #9d9d9d;
    font-weight: 300;
    margin-bottom: 50px;
}

.con_box .con_list > li h4 {
    font-size: 20px;
    color: #0075d8;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.con_box .con_list > li button {
    width: 100px;
    height: 36px;
    cursor: pointer;
    background: #fff;
    font-size: 14px;
    color: #0075d8;
    border: 1px solid #0075d8;
    border-radius: 5px;
}