@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredericka+the+Great&display=swap');
*{margin:0;padding:0;border:0;box-sizing:border-box;}
ol,ul{list-style:none}
a{text-decoration:none;color:inherit;}
body{line-height:1;background:#000;color:#fff;}


#header{
    position:absolute;
    left:0;
    top:0;
    z-index: 2;
    width:100%;
    border-bottom:1px solid #aaa;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:5vh 5vw;
}

#header .logo{
    font: bold 24px/1 "Architects Daughter", "arial";
    letter-spacing:1px;
}

#header .gnb ul{
    display:flex;
    font: 16px/1 "Architects Daughter", "arial";
}
#header .gnb ul > li{
    margin-right:40px;
    letter-spacing:1px;
}
#header .gnb ul > li:last-child{
    margin-right:0;
}

#header .sns{
    display:flex;
    font-size:16px;
}
#header .sns > li{
    margin-left:20px;
}
#header .sns > li:first-child{
    margin-left:0;
}

#header .hamburger {
    font-size: 20px;
    display: none;
}

#main {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
}
#main::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

#main video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main .text_box {
    position: absolute;
    left: 6vw;
    top: 50%;
    transform: translateY(-50%);
}

#main .text_box p {
    font: normal 8vw/1 'Fredericka the Great';
    transition: all 0.15s;
}

#main .text_box ul {
    display: flex;
    margin-top: 30px;
}
#main .text_box ul > li {
    margin-right: 50px;
}
#main .text_box ul > li i {
    font-size: 14px/1;
    margin-right: 15px;
}
#main .text_box ul > li strong {
    font: 14px/1 "arial";
    letter-spacing: 1px;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    padding: 5vh 5vw;
    text-align: center;
    font: 12px/1 "arial";
    letter-spacing: 2px;
}

@media screen and (max-width:1099px) {
    #header .gnb,
    #header .sns {
        display: none;
    }
    #header .hamburger {
        display: block;
    }
    #main .text_box p {
        font-size: 10vw;
    }
}




















