* { margin: 0; padding: 0; border: 0; box-sizing: border-box; }
ol,ul { list-style: none; }
a { text-decoration: none; color: inherit;}

nav {
    background: #fff;
    box-shadow: 0 0 5px gray;
    padding: 10px 70px;
}

nav  ul {
    display: flex;
    justify-content: space-between;
    font: bold 30px/1 "arial";
    text-transform: uppercase;
}

nav ul li {
    position: relative;
    overflow: hidden;
}

/* 
    position:absolute;
    지정된 방향축을 기준으로 width, height 생성
*/

/* 첫번째 hover 구동 */

/* nav ul li::before {
    content: "";
    width: 0;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: blue;
    opacity: 0.3;
    transition: all 0.3s;
}

nav ul li:hover::before {
    width: 100%;
} */

/* 두번째 hover 구동 */

nav ul li::after {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background: tomato;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

nav ul li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav ul li a {
    position: relative;
    z-index: 1;
}