* { margin: 0; padding: 0; border: 0; box-sizing: border-box; }
ol,ul { list-style: none; }
a { text-decoration: none; color: inherit;}

#header {
    box-shadow: 0 5px 10px gray;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header nav .side {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

#header nav .side li {
    margin-left: 20px;
}

#header nav .gnb {
    display: flex;
    justify-content: flex-end;
}

#header nav .gnb li {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid red;
}

#header nav .gnb li:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}

#main {
    background: url("../img/visual_bg.jpg");
    height: 400px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}