* { margin: 0; padding: 0; border: 0; box-sizing: border-box; }
ol,ul { list-style: none;}
body { line-height: 1; /* 1 = 100% , 0.5 = 50% */ }
.clearfix::after { content: ""; display: block; clear: both; }

#header {
    height: 120px;
}

#header .inner {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

#header .logo {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}

#header nav {
    padding-top: 50px;
}

#header nav .gnb {
    float: left;
}

#header nav .gnb2 {
    float: right;
}

#header nav .gnb li,
#header nav .gnb2 li {
    float: left;
    line-height: 33px;
}

#header nav .gnb li {
    margin-right: 50px;
}

#header nav .gnb2 li {
    margin-left: 50px;
}

#header nav .gnb li a,
#header nav .gnb2 li a {
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}

#visual {
    height: 464px;
    background: url("../img/picture01.png")no-repeat center;
    position: relative;
    margin-bottom: 50%;
}

#visual article {
    width: 400px;
    height: 200px;
    background: #f4f6de;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 20px;
}

#visual h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

#visual p {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#visual button {
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #000;
    background: #fff;
    cursor: pointer;
}

#visual button.type2 {
    color: #fff;
    background: #e6ab35;
}

#answer {
    width: 1200px;
    margin: 0 auto 30px;
    text-align: center;
}

#answer h2 {
    font-size: 20px;
    margin-bottom: 70px;
}

#answer article {
    width: 242px;
    float: left;
}